/* Styles for NavBar Component */

.header-menu-wrapper-desktop {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1001; 
}

.artshop-header {
    background-color: white;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    text-align: center;
    font-size: 30px;
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.header-title:hover {
    color: black;
}

.header-search-wrapper {
    flex-grow: 1;
    display: flex;
}

.search-input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    width: 250px;
    transition: width 0.4s ease-in-out;
    color: black;
    background-color: white;
}

.search-input:focus {
    width: 350px;
}

.search-input::placeholder {
    color: #999;
}

.signin-section {
    display: flex;
    align-items: center;
}

.signin-link {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.nav {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.nav-container-section {
    display: flex;
    justify-content: space-between;
    width: 45%;
    align-items: center;
    position: relative;
}

.nav-content {
    text-transform: capitalize;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    position: static;
    height: 100%;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.nav-content a {
    color: white;
    text-decoration: none;
}

.nav-content a:hover {
    text-decoration: none;
    color: lightgray;
}

.artists-megamenu {
    left: -100px; 
  }
  
  .artworks-megamenu {
    left: -200px; 
  }